.vacature-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;

  .card-img {
    img {
      width: 100%;
      height: 100px;
    }
  }

  .card-data {
    padding: 10px;
    height: 100%;

    .description {
      margin-top: 40px;
    }
  }

  .card-btn {
    padding: 10px;
  }
}
