* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 0px 10px 1px lightgray;
    background-color: white;

    .nav-logo {
      margin: 15px;
    }

    .nav-items {
      a {
        font-size: 16px;
        text-decoration: none;
        margin: 15px;
        position: relative;
      }

      a:hover {
        color: red; //just for reference, will change color later
      }

      .nav-ppic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 15px;
        margin-left: 15px;
      }
    }
  }
}
